.home {
  display: flex;

  .homeContainer {
    flex: 6;
    // background-color: lightblue;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      padding: 20px;
      margin: 20px;

      box-shadow: 7px 11px 47px -16px rgba(0, 0, 0, 0.58);
      -webkit-box-shadow: 7px 11px 47px -16px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 7px 11px 47px -16px rgba(0, 0, 0, 0.58);
    }

    .listTitle {
      font-weight: 500;
      color: gray;
      margin-bottom: 15px;
    }
  }
}
